* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --body-padding: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    position: relative;
    padding: 0.5em;
}

p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

label {
    display: inline-block;
    min-width: 90px;
}

input, textarea {
    width: 300px;
}

.hero h1, .hero p {
    color: white;
}

hr {
    width: 40%;
    margin: auto;
}

form {
    display: inline-block;
}

p + p {
    margin-top: 1em;
}

footer {
    background-color: rgb(85, 84, 84);
    color: lightgray;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.socials a {
    color: black;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('./photos/long2.jpg') center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 250, 230, 0.2);
    z-index: 1;
  }

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
}

.about > h2 {
    align-self: flex-start;
}

.about hr {
    width: 60px;
    align-self: flex-start;
    margin: 1.5em 0 1.5em 0;
}

.about p {
    margin-bottom: 1em;
}

.book {
    align-self: flex-start;
    text-decoration: none;
    color: black;
    margin-top: 6em;
    margin-bottom: 4em;
}

.album {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 0px;
}
    
.album img {
    height: auto;
    width: 100%;
    object-fit: contain;
    display: block;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
}

.div7 {
    grid-row-start: 6;
}

.div8 {
    grid-row-start: 6;
}

.div9 {
    grid-column: span 2 / span 2;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-row-start: 8;
}

.div11 {
    grid-column: span 2 / span 2;
    grid-row-start: 9;
}

.div12 {
    grid-column: span 2 / span 2;
    grid-row-start: 10;
}

.div13 {
    grid-column: span 2 / span 2;
    grid-row-start: 11;
}

.contact {
    padding-top: 2em;
    padding-left: 1em;
}

.sub input {
    width: unset;
}

.button button {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(85, 84, 84);
    color: rgb(235, 234, 234);
    border: none;
}

.footer {
    width: 100%;
    height: auto;
    margin-top: 1em;
}


.baskervville-regular {
    font-family: "Baskervville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.baskervville-bold {
    font-family: "Baskervville", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.menu-toggle {
    cursor: pointer;
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.bar {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    transition: 0.4s;
    background-color: black;
}

.nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1em;
    z-index: 999;
    background-color: white;
    text-transform: uppercase;
}

.nav-links a {
    text-decoration: none;
    padding: 10px 0;
    color: black;
    text-align: center;
}

.nav-links a:first-of-type {
    text-transform: none;
    font-size: 0.75em;
}

.menu-open .bar1 {
    transform: rotate(45deg);
    transform-origin: top left;
}

.menu-open .bar2 {
    opacity: 0;
}

.menu-open .bar3 {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

nav.menu-open > .nav-links {
    display: flex !important;
}

#photog {
    margin: 1em 0;
}

#my-photo {
    width: 90vw;
    height: auto;
    margin: 2em auto;
}